@model DisplayModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}




<div class="col-8 offset-2 p-0">
    <div class="d-flex justify-content-between m-3 text-light p-0">
        <h3>@Model.FirstName @Model.LastName</h3>
        <h3>@Model.Role</h3>
    </div>
</div>

       
@if (Model.ImageFileName != null)
{
    <div class="col-8 offset-2 mt-5 d-flex justify-content-center">
        <img src="@("~/profileImages/"+Model.ImageFileName)" asp-append-version="true" height="150" width="150" style="border-radius: 50%" />
    </div> 
}
<div>
    <small><p class="col-8 offset-2 p-3 mt-5">First name</p></small>
    <p class="col-8 offset-2 p-3 p-box">@Model.FirstName </p>
</div>
<div>
    <small><p class="col-8 offset-2 p-3 mt-5">Last name</p></small>
    <p class="col-8 offset-2 p-3 p-box"> @Model.LastName</p>
</div>
<div >
    <small><p class="col-8 offset-2 p-3 mt-5">Addressline 1</p></small>
    <p class="col-8 offset-2 p-3 p-box">@Model.AddressLine</p>
</div>
    
<div >
    <small><p class="col-8 offset-2 p-3 mt-5">Postal code</p></small>
    <p class="col-8 offset-2 p-3 p-box">@Model.PostalCode</p>
</div>
<div >
    <small><p class="col-8 offset-2 p-3 mt-5">City</p></small>
    <p class="col-8 offset-2 p-3 p-box"> @Model.City</p>
</div>
<div>
    <small><p class="col-8 offset-2 p-3 mt-5">Email</p></small>
    <p class="col-8 offset-2 p-3 p-box">@Model.Email </p>
</div>
<div>
    <small><p class="col-8 offset-2 p-3 mt-5">Role</p></small>
    <p class="col-8 offset-2 p-3 p-box">@Model.Role </p>
</div>


<div class=" col-8 offset-2">
    
   
        @if (User.IsInRole("Admin"))
        {
            <div class="d-flex  justify-content-between">
                <button class="button-omni my-3"><a asp-controller="Profile" asp-action="Index">Back to overview</a></button>
                <button class="button-omni my-3"><a asp-controller="Home" asp-action="Index">Home</a></button>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-between">
                <button class="button-omni my-3"><a asp-controller="Home" asp-action="Index">Home</a></button>
                <button class="button-omni my-3"><a asp-controller="Profile" asp-action="Edit" asp-route-id="@User.FindFirst("Id").Value">Edit</a></button>
            </div>
        }
    
</div>

