@using KristofferNowen_OmniVus.Migrations
@model NewOmniVus.Models.Profiles.EditAppUserProfile
@{
    ViewData["Title"] = "Edit profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="col-8 offset-2 p-0">
    <div class="d-flex justify-content-between my-3 text-light p-0">
        <h3>@await _profileManager.GetProfileDisplayNameAsync(Model.Email)</h3>
        <h3>@Model.Role</h3>
    </div>
</div>
<form id="signup-form" asp-action="Edit" asp-route-returnUrl="@Model.ReturnUrl" >
       
    @if (Model.ImageFileName != null)
    {
        <div class="col-8 offset-2 mt-5 d-flex justify-content-center">
            <img src="@("~/profileImages/"+Model.ImageFileName)" asp-append-version="true" height="150" width="150" style="border-radius: 50%" />
        </div>
    }
    <div>
        <small><p class="col-8 offset-2 mt-5 ps-3">First name</p></small>
        <input asp-for="FirstName" type="text" class="col-8 offset-2 p-3 " placeholder="@Model.FirstName">
        <span asp-validation-for="FirstName" class=" ps-2 text-danger"></span>
    </div>
    <div>
        <small><p class="col-8 offset-2 mt-5 ps-3">Last name</p></small>
        <input asp-for="LastName" type="text" class="col-8 offset-2 p-3" placeholder="@Model.LastName">
        <span asp-validation-for="LastName" class=" ps-2 text-danger"></span>
    </div>
    
    
    <div >
        <small><p class="col-8 offset-2 mt-5 ps-3">Address line 1</p></small>
        <input asp-for="AddressLine" class="col-8 offset-2 p-3" placeholder="@Model.AddressLine"/>
        <span asp-validation-for="AddressLine" class=" col-8 offset-2 p-3 mt-5 text-danger"></span>
    </div>
    
    <div >
        <small><p class="col-8 offset-2 mt-5 ps-3">Postal code</p></small>
        <input asp-for="PostalCode" type="text" class="col-8 offset-2 p-3" placeholder="@Model.PostalCode"/>
        <span asp-validation-for="PostalCode" class=" col-8 offset-2 p-3 mt-5 text-danger"></span>
    </div>
    <div >
        <small><p class="col-8 offset-2 mt-5 ps-3">City</p></small>
        <input asp-for="City" type="text" class="col-8 offset-2 p-3" placeholder="@Model.City"/>
        <span asp-validation-for="City" class=" col-8 offset-2 p-3 mt-5 text-danger"></span>
    </div>
    @if (User.IsInRole("User"))
    {
        <div class="col-8 offset-2 p-0 d-flex">
            <div class="col-6 p-0">
                <small><p class="mt-5 ps-3">Current password</p></small>
                <input asp-for="CurrentPassword" type="password" class="p-3 me-2 container-fluid" placeholder="CurrentPassword"/>
                <span asp-validation-for="CurrentPassword" class="p-3 mt-5 text-danger"></span>
            </div>
            <div class="col-6 p-0">
                <small><p class="  mt-5 ps-3">New password</p></small>
                <input asp-for="NewPassword" type="password" class=" p-3 ms-2 container-fluid" placeholder="NewPassword"/>
                <span asp-validation-for="NewPassword" class=" p-3 mt-5 text-danger"></span>
            </div>
        </div>
    }
    <div>
        <small><p class="col-8 offset-2 mt-5 ps-3">Email</p></small>
        <input asp-for="Email" id="signup-email" type="text" class="col-8 offset-2 p-3 mb-5" placeholder="@Model.Email">
        <span asp-validation-for="Email" class=" ps-2 text-danger"></span>
    </div>
    
    
            
    <div asp-validation-summary="ModelOnly"  class="text-danger d-flex justify-content-center m-3"></div>
    <div class="d-flex justify-content-between col-8 offset-2">
        <div >
            <button type="submit" class="button-omni my-3">Save update</button>
        </div>
        <div class="d-flex flex-column ">
            @if (User.IsInRole("Admin"))
            {
                <div class="d-flex  flex-column">
                    <button class="button-omni my-3"><a asp-controller="Profile" asp-action="Index">Back to overview</a></button>
                    <button class="button-omni"><a asp-controller="Home" asp-action="Index">Home</a></button>
                </div>
            }
            else
            {
                <div class="d-flex flex-column">
                    <button class="button-omni my-3"><a asp-controller="Home" asp-action="Index">Home</a></button>
                    <button class="button-omni my-3"><a asp-controller="Profile" asp-action="Details" asp-route-id="@User.FindFirst("Id").Value">Details</a></button>
                </div>
            }
        </div>
    </div>

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

