@model IEnumerable<NewOmniVus.Models.Profiles.AppUserProfileEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1 class="text-light">Index</h1>


<table class="table text-light nill-border col-6 ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-light nill-border">
@foreach (var item in Model) {
    <tr class="no-border col-8">
        <td  class="text-danger my-5 nill-border col-1">
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td class="col-1">
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.AddressLine)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            <a asp-controller="Profile" asp-action="Details" asp-route-id="@item.Id">Check</a>
            <a asp-controller="Profile" asp-action="ManagerEdit" asp-route-id="@item.Id">P.Edit</a>
        </td>
    </tr>
    <tr>
        <td>@await _profileManager.GetProfileDisplayNameAsync(item.UserEmail)</td>
        <td>
            <a asp-controller="Profile" asp-action="Details" asp-route-id="@item.Id">Check</a>
            <a asp-controller="Profile" asp-action="ManagerEdit" asp-route-id="@item.Id">P.Edit</a>
        </td>
    </tr>
}
    </tbody>
</table>
